.buttonItem
{
	background-color: white;
	border-radius: 8px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
	font-weight: bold;
	font-size: 100%;
	color: black;
}



#ganttCanvas
{
}

#taskTreeView
{
	overflow-x:auto;
	overflow-y:auto;
}

#taskTreeView ul
{
	list-style-type: none;
}

#taskTreeView li
{
	list-style-type: none;
}

#actionDiv
{
	position:absolute;
	visibility:hidden;
	display:flex;
	top:0px;
	left:0px;
}

#gantt
{
	overflow-x:auto;
}

#sortingDiv
{
}

.closeWrapper
{
	position:relative;
	display:inline-block;
}

.close::before
{
	content:'x';
	color:rgba(0,0,0,255);
	opacity:10;
	font-weight:bold;
}

.close
{
	position:absolute;
	top:-8px;
	right:0px;
	width:0px;
	height:0px;
	cursor:pointer;
}

.taskNode
{
	padding-bottom:1em;
	display:flex;
}

.actionButton
{
	margin-left:5px;
	margin-right:5px;
}

.taskBackground
{
	width:100%;
	height:100%;
	background-color:transparent;
	border-radius: 15px;
	padding-left:5px;
	padding-right:5px;
}

.whiteProject
{
	background-color: white;
	border-radius: 8px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	font-size: 100%;
	color: black;
}

#ganttBody > div > .nav-tabs > li
{
	width: 50%;
}

#ganttBody > div > .nav-tabs > li > a
{
	color : #FFFFFF;
	background-color : #0858CC;
	margin: -2px 0 0 0;
	margin-right:0px;
	width:100%;
}

#ganttBody > div > .nav-tabs > li.active > a
{
	color : #FFFFFF;
	background-color : #48A8FF;
	margin: -2px 0 0 0;
}

.ui-datepicker .btn-group .btn-danger.btn
{
    display: none;
}

.numberInput::-webkit-inner-spin-button, 
.numberInput::-webkit-outer-spin-button
{
	-webkit-appearance: none;
    -moz-appearance:    none;
	appearance:         none;
}

.numberInput
{
	text-align:center;
	width: 5em;
	margin-left:1em;
	margin-right:1em;
	border-radius:10px;
}

.leftRightMargin
{
	margin-left:1em;
	margin-right:1em;
}

#advProgressbar
{
	width:50%;
	margin-bottom:0;
}

.listSpaceRight > li
{
	margin-right:5px;
}
