#topBanner
{
	background-color: #090342;
	width: 100%;
	padding-top: 0.5em;
	
}

#topBanner p
{
	margin-left:1em;
	font-weight: bold;
	font-size: 150%;
	color: white;
}

#menu
{
	background-color: #2F2699;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin-top: -1em;
}

.centerItem
{
	margin-left: auto;
	margin-right:auto;
}


@media(min-width: 1400px)
{
    .my-modal-popup > .modal-lg
	{
        width: 1308px;
    }
}

.menuItem
{
	background-color: white;
	border-radius: 8px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left:1em;
	margin-right:1em;
	font-weight: bold;
	font-size: 125%;
	color: black;
}



#centralPart
{
	background-color: #2589b9;
	border-radius: 8px;
	padding-bottom:1em;
	width: 98%;
	overflow-y: auto;
	margin-top: 1em;
	margin-left: auto;
	margin-right:auto;
	color: white;
}

#centralPart p, label, button
{
	font-size: 1.325em;
}

#centralPart a, a:hover
{
	color:white;
}

.alignElem
{
	text-align: center;
}

.mainTitle
{
	font-size: 2em;
}

.topSpace
{
	margin-top: 3em;
}

.smallTopSpace
{
	margin-top: 0.5em;
}

.bottomSpace
{
	margin-bottom: 3em;
}

.smallBottomSpace
{
	margin-bottom: 0.5em;
}

.errorMsg
{
	color: red;
	text-align: center;
	vertical-align: middle;
}

.descField
{
}

.hLine
{
	margin-bottom:0.5em;
	margin-top:0.5em;
	border-top: 2px solid black;
}

.alignedDiv
{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align:center;
}

.dropdown-menu
{
	z-index:9999;
}

.flexDiv
{
	display:flex;
	align-items:center;
}

.dateWidth
{
	margin-left:0.5em;
	width:120px;
}

.buttonDate
{
	margin-left: 1em;
}
/* list, filter, pagination, research*/
#pagination {
	text-align: center;
}

#pagination a {
	background-color: #F5F5F5;
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

#pagination a.active {
	background-color: rgba(30, 198, 250, 0.16);
	color: white;
}

.paginationModal {
	text-align: center;
}

.paginationModal a {
	background-color: #F5F5F5;
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.paginationModal a.active {
	background-color: rgba(30, 198, 250, 0.16);
	color: white;
}

.tableList {
	margin: 10px 10px 10px 0px;
	background-color: #F5F5F5;
	color:black;
	border-radius: 20px;
}
.tableList thead {
	background-color: #eaeaea;
}

.tableList tr:nth-child(odd) td{
	background-color: transparent;
}
.tableList tr:nth-child(even) td{
	background-color: rgba(30, 198, 250, 0.16);
	cursor:pointer

}

.tableList tbody tr:hover {
	background: rgba(30, 198, 250, 0.39);
	cursor:pointer

}

.tableList thead tr th:hover {
	background: linear-gradient(to right, #00c1fc, #eaeaea)
}

.tableContenuNotif {
	margin: 10px 10px 10px 0px;
	background-color: #F5F5F5;
	color:black !important;
	border-radius: 10px;
	text-align: center;
}

.tableContenuNotif td {
	border: none !important;
}

.tableContenuNotif td.message{
	text-align:left;
}

.tableContenuNotif a, a:hover{
	color:black !important;
}

.unread{
	font-weight:bold !important;
}


.bordering{
	border-top: 1px solid #ccccb3;
	background-color: #F5F5F5 !important;
	border-radius: 10px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

#filter_box{position:fixed;_position:absolute;right:5px;top:20%;border:1px solid #789;background:#fff;z-index:10;color:black;border-radius: 10px}

#cli_on{width:15px;float:left;cursor:pointer;background:#CCFF0E;text-align:center;line-height:300px;border-radius: 10px}

#search_box{position:fixed;right:50%;top:10%;border:1px solid #789;background:#fff;z-index:88;color:black}

.parentDisable{
	position:fixed;
	top:0;
	left:0;
	background: #c9c9c9;
	opacity:0.5;
	z-index:50;
	height:100%;
	width:100%;}

.mousePointer
{
	cursor:pointer;
}

.mousePointer:hover
{
	background-color: #DDDDDD;
}

.darkBlue
{
	background-color: #103055;
}
